# Telegram Settings for "Indicator Signals" Bot
# Paste your Indicator Signals Bot Token below:
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Dashboard Server Port
PORT=8000

# Scanner Settings (TradingView Watchlist Tickers)
SCANNER_MODE=OFF
WATCHLIST=SPY,QQQ
